$Mont: "Mont", Helvetica, Arial, sans-serif;
$Mak: "MAK", "Mont", Helvetica, Arial, sans-serif;
$Gogol: "Gogol", "MAK", "Mont", Helvetica, Arial, sans-serif;

$prime: #4f3933;
$mainText: 20px;

$bp0: 1920px;
$bp1: 1440px;

$bp2: 1024px;
$bp3: 768px;
$bp4: 480px;
$bp5: 320px;
