@use "../config";
.about {
    height: 840px;
    @media (max-width: config.$bp3) {
        height: 645px;
    }
    @media (max-width: config.$bp4) {
        height: 472px;
    }
    &--container {
        position: relative;
        display: flex;
        padding: 10px 80px 0;
        gap: 100px;
        height: 100%;
        @media (max-width: config.$bp0) {
            padding: 10px 75px;
        }
        @media (max-width: config.$bp1) {
            padding: 10px 40px;
        }
        @media (max-width: config.$bp3) {
            padding: 40px 10px 30px;
        }
    }

    &--image {
        width: 37%;
        height: 100%;
        position: relative;
        @media (max-width: config.$bp0) {
            width: 45%;
            height: 80%;
            align-self: flex-end;
        }
        @media (max-width: config.$bp1) {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: config.$bp0) {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        @media (max-width: config.$bp1) {
            display: none;
        }
    }

    &--decor {
        width: 951px;
        position: absolute;
        top: -10%;
        left: -30%;
        z-index: -1;
        @media (max-width: config.$bp0) {
            width: 890px;
            top: -15%;
            left: -35%;
        }
        @media (max-width: config.$bp1) {
            top: 0;
            left: auto;
            right: 0;
            width: 400px;
        }
        @media (max-width: config.$bp3) {
            width: 250px;
            right: -20px;
        }
        @media (max-width: config.$bp4) {
            width: 200px;
            right: -40px;
            top: 60px;
        }
    }

    &--body {
        width: 38%;
        padding: 125px 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width: config.$bp0) {
            width: 55%;
        }
        @media (max-width: config.$bp1) {
            width: 100%;
            padding: 0;
            gap: 20px;
        }
        @media (max-width: config.$bp3) {
            gap: 0;
        }
    }

    &--title {
        margin-bottom: 10px;
    }

    &--subtitle {
        font-family: config.$Gogol;
        font-size: 40px;
        margin-top: 20px;
        @media (max-width: config.$bp3) {
            font-size: 30px;
            margin-top: 10px;
        }
        @media (max-width: config.$bp4) {
            font-size: 18px;
        }
    }

    &--text {
        font-family: config.$Mont;
        font-size: 20px;
        span {
            font-weight: 600;
        }
        &-last {
            flex: 1 1 auto;
            @media (max-width: config.$bp1) {
                flex: 0 1 auto;
            }
            @media (max-width: config.$bp3) {
                flex: 1 1 auto;
            }
        }
        @media (max-width: config.$bp3) {
            font-size: 16px;
            width: 70%;
            &:last-of-type {
                width: 100%;
            }
        }
        @media (max-width: config.$bp4) {
            font-size: 12px;
        }
    }
    &--bg {
        z-index: -2;
    }
}
